
.forecast-card {
    margin: 1em 0;
  }
  
  .forecast-day {
    margin: 1em 0;
  }
  
  .forecast-info {
    display: flex;
    align-items: center;
  }
  
  .forecast-info img {
    margin-right: 1em;
  }
  